body {
   background-color: burlywood;
}
table {
    margin: 0 auto;
    text-align: center;
    color: coral;
    background-color: brown;
    width: 800px;
    height: 600px;
}
h1 {
    text-align: center;
    color: brown;
}